@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div div .img {
  border-radius: 20px;
}

div .English {
  margin-top: 200px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -0.02em;
  background: linear-gradient(111.14deg, #000000 36.06%, #D32D42 86.35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}
div div .tepa {
  display: flex;
  justify-content: space-between;
}
div div div div div .h2_left {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  background: linear-gradient(111.14deg, #000000 36.06%, #D32D42 86.35%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-top: 48px;
  margin-left: 40px;
}

div .ikki {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}
div div .chiziq {
  margin-left: -281px;
  margin-top: 75px;
}
div div .ikki_p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #000000;
}

div div div div .sana {
  border-radius: 8px;
  text-align: center;
}

@font-face {
  font-family: "abold";
  src: url("./font/Aeonik-font-download/Aeonik-Bold.otf");
}

/*# sourceMappingURL=main.css.map */
