@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div {

  //22222222222222
  div {


    //33333333333333333
    div {

    }

    .img {
      border-radius: 20px;
    }
  }
}

//111111111111111111111111111111111111111111111111111111111111111111111111111111111111-page
div {
  .English {
    margin-top: 200px;
    //font-family: 'Aeonik';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.02em;
    background: linear-gradient(111.14deg, #000000 36.06%, #D32D42 86.35%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    //background-clip: text;
    text-fill-color: transparent;
  }

  div {
    .tepa {
      display: flex;
      justify-content: space-between;
    }

    div {
      div {
        div {
          .h2_left {
            //font-family: 'Aeonik',sans-serif ;
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 44px;
            display: flex;
            align-items: center;
            letter-spacing: -0.02em;
            background: linear-gradient(111.14deg, #000000 36.06%, #D32D42 86.35%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            //background-clip: text;
            text-fill-color: transparent;
            flex: none;
            order: 1;
            flex-grow: 0;
            margin-top: 48px;
            margin-left: 40px;
          }
        }
      }
    }
  }
}

//2222222222222222222222222222222222222222222222222222222222222222222222222222222-page
div {
  .ikki {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
  }

  div {
    .chiziq {
      margin-left: -281px;
      margin-top: 75px;
    }

    .ikki_p {
      //font-family: 'Aeonik';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.01em;
      color: #000000;
    }
  }
}

//333333333333333333333333333333333333333333333333333333333333333333333-page

div {
  div {
    div {
      div {
        .sana{
          border-radius: 8px;
          text-align: center;
        }
      }
    }
  }
}

@font-face {
  font-family: "abold";
  src:url("./font/Aeonik-font-download/Aeonik-Bold.otf");
}

