.Button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.Button:hover {
  background-color: lightblue;
  animation: fadeIn 0.5s ease-in-out;
}